*{
    font-family: Arial, Helvetica, sans-serif;
}

.mainApp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 50px;
}

.jokeContainer{
    width: 70%;
    margin-top: 3%;
    padding: 1%;
    background-color: rgb(39, 102, 196);
    border-radius: 20px;
    color: white;
}